@charset "utf-8";

body {
	margin:100px;
}
div {
	width: 200px;
	height: 200px;
	background: white;
	border: 1px solid green;
    /*animation-name: myani;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	/*animation-delay: 1s;*/
	/*animation-iteration-count: 3;*/
	/*animation-direction: alternate;*/
	/*animation-fill-mode: forwards;*/
	/*animation-fill-mode: backfwards;*/
	/*animation-fill-mode: both;*/
	animation: myani 4s linear infinite;
}

@keyframes myani {
	0% {
		background: white;
		margin-left: 0px;
		opacity: 1;
	}
	50% {
		background: yellow;
		margin-left: 200px;
		opacity: 1;
		transform: translatey(300px);
		transform: rotatez(80deg);
		transform: scalex(1.5) rotatex(20deg);
	}
	70% {
		background: orange;
		margin-left: 0px;
		opacity: 1;
		margin-left: 400px;
		transform: translatey(-150px);
		transform: ratatez(80deg);
		transform: scalex(1.5) rotatex(45deg);
	}
	90% {
		background: orange;
		margin-left: 0px;
		opacity: 0.5;
		margin-left: 600px;
		transform: translatey(100px);
		transform: ratatez(100deg);
		transform: scalex(1.5) rotatex(70deg);
	}

	100% {
		background: white;
		margin-left: 800px;
		opacity: 0;
		transform: scalex(1.5) rotatex(90deg);
	}

	/*to {
		background: white;
		margin-left: 0px;
	}
	from {
		background: black;
		margin-left: 100px;
	}*/
}
div:hover {
	animation-play-state: paused;
}